* {
    padding: 0px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #2e5691;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.border-modify {
    border-width: 2px;
    border-style: dashed;
    padding: 1px;
}