<!-- <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">SOLICITAR CANCELAMENTO</button>
<div class="modal fade fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">

                <div class="modal-body p-3">

                    <p>Um e-mail solicitando o cancelamento desta visita será enviado ao seu gestor.</p>

                </div>

                <div class="modal-footer border-0">
                    <button type="button" class="btn btn-link btn-sm" data-bs-dismiss="modal">VOLTAR</button>
                    <button type="button" class="btn btn-link btn-sm">CONFIRMAR SOLICITAÇÃO</button>
                </div>

            </div>
        </div>
    </div>
</div> -->