<div class="container-fluid no-gutters h-100 p-0">
    <div class="form-row no-gutters h-100">
        <div class="col">
            <div class="p-4 border bg-light">
                <h4 class="font-weight-normal text-uppercase">investimentos</h4>
                <div class="card mt-4" *ngIf="investimentos$ | async as investimentos; else loading">
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div class="row align-items-start">
                                    <div class="col">
                                        <h6 class="card-title text-uppercase">nome</h6>
                                    </div>
                                    <div class="col">
                                        <h6 class="card-title text-uppercase">objetivo</h6>
                                    </div>
                                    <div class="col">
                                        <h6 class="card-title text-uppercase">saldo total</h6>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item" *ngFor="let investimento of investimentos; index as i;">
                                <div class="row align-items-start mt-1 mb-1" [ngClass]="{'text-muted': investimento.indicadorCarencia === 'N' ? false : true }" [ngStyle]="{'cursor': investimento.indicadorCarencia === 'N' ? 'pointer' : 'default' }" [attr.title]="investimento.indicadorCarencia === 'N' ? 'Click para ver detalhes do ' + investimento.nome : null "
                                    data-bs-toggle="tooltip" (click)="goToResgatePersonalizado(investimento)">
                                    <div class="col">
                                        <h6 class="card-text fw-normal">{{investimento.nome}}</h6>
                                    </div>
                                    <div class="col">
                                        <h6 class="card-text fw-normal">{{investimento.objetivo}}</h6>
                                    </div>
                                    <div class="col">
                                        <h6 class="card-text fw-normal">{{investimento.saldoTotal | currency : 'R$'}}</h6>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <ng-template #loading>
                    <div class="d-flex align-items-center">
                        <p class="fw-normal">Loading...</p>
                        <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</div>