<div class="container-fluid no-gutters h-100 p-0">
    <div class="row no-gutters h-100">
        <div class="col">
            <div class="p-4 border bg-light">
                <h4 class="font-weight-normal text-uppercase">dados dos investimentos</h4>
                <form [formGroup]="form">
                    <div class="card mt-4">
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <div class="row align-items-start">
                                        <div class="col border-end">
                                            <h6 class="card-title text-uppercase">
                                                <i class="fa fa-user mr-1"></i>
                                                <span class="ms-2">{{model.nome}}</span>
                                            </h6>
                                        </div>
                                        <div class="col border-end">
                                            <h6 class="card-title text-uppercase">
                                                <i class="fa fa-chart-line mr-1"></i>
                                                <span class="ms-2">{{model.objetivo}}</span>
                                            </h6>
                                        </div>
                                        <div class="col">
                                            <h6 class="card-title text-uppercase">
                                                <i class="fa fa-dollar-sign mr-1"></i>
                                                <span class="ms-2">{{model.saldoTotal | currency : 'R$' }}</span>
                                            </h6>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <h4 class="font-weight-normal text-uppercase mt-4">resgate</h4>
                    <div class="card mt-4">
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <div class="row align-items-start">
                                        <div class="col">
                                            <h6 class="card-title text-uppercase">ação</h6>
                                        </div>
                                        <div class="col">
                                            <h6 class="card-title text-uppercase">saldo acumulado</h6>
                                        </div>
                                        <div class="col">
                                            <h6 class="card-title text-uppercase">valor a resgatar</h6>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item" *ngFor="let acao of acoes; index as i;">
                                    <div class="row align-items-start mt-1 mb-1">
                                        <div class="col">
                                            <h6 class="card-text fw-normal">{{acao.nome}}</h6>
                                        </div>
                                        <div class="col">
                                            <h6 class="card-text fw-normal">{{ calcSaldoAcumul(acao.percentual) | currency : 'R$'}}</h6>
                                        </div>
                                        <div class="col">
                                            <input type="text" class="form-control form-control-sm" placeholder="Digite quanto quer resgatar" currencyMask formControlName="valorResgate">
                                            <span class="invalid-feedback">
                                        O valor a resgatar não pode ser maior que {{0 | currency : 'R$'}}
                                    </span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card mt-4">
                        <div class="card-body px-4 py-2 d-flex justify-content-between">
                            <p class="card-text fw-bolder">Valor total do resgate: <span class="fw-normal">{{ 0 | currency : 'R$' }}</span></p>
                            <p class="card-text fw-bolder">Form: <span class="fw-normal">{{ form.value | json }}</span></p>
                        </div>
                    </div>
                    <div class="d-grid gap-0 d-md-flex justify-content-md-end mt-4">
                        <button class="btn btn-secondary btn-sm me-md-2 text-uppercase" type="button" (click)="goToLista()">cancelar</button>
                        <button class="btn btn-primary btn-sm text-uppercase" type="button">confirmar resgate</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>