<nav class="navbar sticky-top bg-pto">
    <div class="container-fluid space-between">
        <a class="navbar-brand d-flex justify-content-center align-items-center" routerLink="/home" [routerLinkActive]="['router-link-active']">
            <img class="mx-1" src="assets/brandning/logo.png" alt="Logo" width="40" height="40">
            <span class="navbar-brand fs-2" href="#">Coopersystem Bank</span>
        </a>
        <a class="navbar-brand" routerLink="/invetimentos" [routerLinkActive]="['router-link-active']">Invetimentos</a>
    </div>
</nav>